invoke
python-dotenv
awscli
pytest
pytest-env
pytest-mock
pytest-cov
moto
tox
boto3
requests
requests-mock
freezegun
tabulate

-r functions/zoom-webhook.txt
-r functions/zoom-downloader.txt
-r functions/zoom-uploader.txt
